* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: linear-gradient(to bottom, #121212, #212B46 );
  background-attachment: fixed;
  color: #FFFFFF;
}
main{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;

}

.container{
display: flex;
align-items: center;
justify-items: center;
flex-direction: column;
}

h1{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;

  padding: 30px;
  font-size: 5em;
}

#buscarCep{
  background-color: rgb(255, 255, 255, 20%);
  border: solid rgb(255, 255, 255, 50%)  2px;
  padding: 12px ;
  width:30vw;
  border-radius: 7px;
  color: #FFFFFF;
}

::placeholder{
  color: rgb(255, 255, 255, 50%);
}

label{
  position: relative;
}

.btn-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0px 10px;
  background: transparent;
  color: rgb(255, 255, 255, 50%);
  font-size: 1.4em;

}

.resposta{
  display: none;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  

  background-color: #FFFFFF;
  color: #121212;
  padding: 10px 0px;
  margin-top: 6vh;
  border-radius: 7px;
  width: 36vw;

}

.form-resposta{
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  background: transparent;
  font-weight: bold;
}

#cep{
  padding-bottom: 20px;
  font-size: 2em;
}


@media(max-width:912px){

  h1{
    flex-wrap: nowrap;
    font-size: 3em;
  }

  #buscarCep{
    width: 90vw;
  }

  .resposta{
    width:90vw;
  }

}